{% extends '_base.html'%}
{% block content %}
    <p><b>Опис предметного середовища: </b><i>"The Snitch"</i> - головне сучасне медіа про актуальні футбольні новини та осередок найгарячіших інсайдів найпопулярнішого світового виду спорту. З англійської назва сайту перекладається як "стукач", проте засновники сайту наполягають, що назва пішла із серії фільмів про Гаррі Поттера, який періодично грав у славнозвісну гру квідич та ловив золотий снітч, який був занадто швидким для більшості гравців.</p>
    <p class='test'>Тема: сайт футбольних новин.</p>
    <p>Мета: створення медіа-ресурсу для перегляду останніх новин світу футболу.</p>
    
    <p>Користувач:</p>
    <ul class="lists">
        <li>перегляд новини</li>
        <li>коментування </li>
        <li>реєстрація/вхід</li>
    </ul>    
    <p>Адміністратор (крім того, що може користувач):</p>
    <ul class="lists">
        <li>створення/редагування/видалення новини</li>
        <li>модерація користувачів та коментарів</li>
    </ul>

    <form action="contacts.html">
        <button>Contact us</button>
    </form> 
{% endblock %}

