{% extends '_baseSign.html'%}
{% set text = "Already have an account?"%}
{% set href="./signIn.html" %}
{% set page = "Log in" %}
{% set description = "Complete your account" %}
{% block content %}
<nav class='input-index'>
  <input type="text" placeholder="Create a password">
  <input type="text" placeholder="Confirm password">
</nav>
<nav class='agree1'>
  <input type='checkbox' id="checkbox1">
  <label for="checkbox1">I agree to the myFixer.com</label>
  <a href="">Terms of service</a>
</nav>
<nav class='agree2'>
  <input type='checkbox' id="checkbox2">
  <label for="checkbox2">I agree to the myFixer.com</label>
  <a href="">Privacy Policy</a>
</nav>
<nav class='button'>
  <button class='sign-in'>Done!</button>
</nav>
{% endblock %}